<!--
 * @Author: your name
 * @Date: 2020-02-28 15:46:46
 * @LastEditTime: 2020-02-28 15:50:48
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /vue_learn/learn01/v-if.html
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="seen">You can see me now !</p>
        <template v-if="ok">
            <h1>AAAAAAAAAA</h1>
        </template>
    </div>
    <script>
        var vm = new new Vue({
            el: "#app",
            data: {
                seen: true,
                ok: true
            }
        })
    </script>
</body>
</html>